.top-selling {
  margin: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .top-selling-title {
    margin-bottom: 2rem;
  }

  .top-selling-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .product-link {
    text-decoration: none;
    color: inherit;
  }

  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }

    &-image-container {
      background-color: #f0eeed;
      padding: 2rem;
      border-radius: 8px;
      margin-bottom: 1px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        mix-blend-mode: multiply;
      }
    }

    &-title {
      font-size: 14px;
      margin-bottom: 0.5rem;
      text-align: center;
      font-weight: 500;
    }

    &-price {
      font-weight: bold;
      color: #000;
    }
  }

  .view-all-btn {
    border-radius: 62px;
    outline: none;
    padding: 1rem 4rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 4rem;
    color: black;
    transition: all 0.3s ease;

    &:hover {
      background-color: #f5f5f5;
    }
  }
}
